---
title: David Broadfoot
description: Occasional Secondary Teacher - employee no. 255928 - 1- (705)-716-5774
layout: default
---
<body>
  <div class="container">
<div class="title-area">


<h1 class="title"> {{ page.title }}  </h1><li>
  <p class="sub-title"> {{ page.description }} </p></li>
  </div>
<div class="recent-posts">
<h2> Most Recent Post </h2>
  <ul>
    {% for post in site.posts limit:1 %}
    <li>
      <a href="{{ post.url }}">{{post.title}}</a></li>
      {{ page.date | date_to_string }}
      {{post.description}}
    <li>  {{post.excerpt}}
    </li>
    <a class="blog__link__main" href="{{post.url}}">Read More</a>
    {% endfor %}
  </ul>
</div>


  <div class="older-posts">
      <h2 class="older-h2"> Older Blog Posts </h2>


  {% for post in site.posts limit:3 offset:1 %}
      <div class="blog-post">
        <div class="square">
        <a href="{{ post.url }}"><img src="assets/images/img1.jpeg"> </a></div>
      <a href="{{ post.url }}">{{ post.title }}</a><li>
      <p class="post__desc">
      {{ post.date | date_to_string }}</li>
    <li> {{post.description}}</p></li>
    <a class="blog__link" href="{{post.url}}">Read More</a>
   </div>

  {% endfor %}
</div>
<div class="footer">
Contact Me
</div>
</div>
</body>
