---
title:
description: The Thoughts and Research of David Broadfoot
layout: default
---
<body>
  <div class="container">
<div class="title-area">

<a href="/index.html"> <img class="img-big" src="/assets/images/logooo.png"> </a>
<a href="/index.html"> <img class="img-small" src="/assets/images/logooo2.png"> </a>
<h1 class="title"> {{ page.title }}  </h1><li>
  <p class="sub-title1"> {{ page.description }} </p></li>
  </div>

  <div class="business-card">
    <h2 class="business-text">occasional secondary teacher<br><br>toronto,on<br><br>employee no. 255928<br><br>1-(705)-716-5774<br><br>david.broadfoot@mail.tdsb.on.ca<br><br>available monday - friday
<br><br><br><br><br>scroll to read his  <a class='business-blog' href= '/blog.html'> blog </a> <br><br> &darr;
     </h2>
  </div>
<div class="recent-posts">
<h2> Most Recent Post </h2>
  <ul>
    {% for post in site.posts limit:1 %}
    <li>
      <a class="blog-title" href="{{ post.url }}">{{post.title}}</a></li>
    <li><p>{{ post.date | date_to_string }}</p></li>
    <li>
      {% include share-bar.html %}
        <a class="image_link" href="{{ post.url }}"><img class="img__index" src="{{ post.image }}"> </a> </li>
  <li> <div class="excerpt"> {{post.excerpt}} </div>
    </li>
    <a class="blog__link__main" href="{{post.url}}">Read More</a>
    {% endfor %}
  </ul>
</div>

<div class="sidebar1">
<h2>About Me</h2>
<p class="sidebar_speech"> David Broadfoot is an occasional teacher,
  specializing in intermediate/senior English and Social Sciences education in Toronto, Ontario. <br><br>
On this blog you will find lessons, resources, and research relating to these fields and more.
<br><br>Book David to cover your class:<br><br>Mon-Fri all day<br><br>employee no. 255928 <br>
<br> 1-(705)-716-5774<br><br>david.broadfoot<br>@mail.tdsb.on.ca<br>
<br>@edubroadfoot </p>
</div>


  <div class="older-posts">
      <h2 class="older-h2"> Older Blog Posts </h2>


  {% for post in site.posts limit:3 offset:1 %}
      <div class="blog-post">

        <a class="image_link" href="{{ post.url }}"><img class="card_img" src="{{ post.image }}"> </a>
      <li><a class="blog-title" href="{{ post.url }}">{{ post.title }}</a></li><li>
      <p class="post__desc">
      {{ post.date | date_to_string }}</li>
    <li> {{post.description}}</p></li>
    <a class="blog__link" href="{{post.url}}">Read More</a>
   </div>

  {% endfor %}
</div>
<div class="archive__link">
  <a href="/blog.html"><h2>Archive</h2></a>
</div>
<div class="footer">
<h3>David Broadfoot - employee no. 255928 - 1-(705)-716-5774</h3>
</div>
</div>
</body>
