html {
  margin: 0;
  padding: 0;
  font: normal 100%/1.4 Georgia,serif;
}
body {background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem,1fr));

}



.title-area {
  margin: 0;
  display: grid;
  grid-column: 1 / 7;
  text-align: center;
  background-color: #c0dfd9;
}

.title {
  text-transform: uppercase;
  margin:0;
}


p {

grid-column: 3 / 6;
}


footer {
  margin: 0;
  display: grid;
  grid-column: 1 / 7;
  text-align: center;
  background-color: #c0dfd9;
}
