html {
  margin: 0;
  padding: 0;
  font: normal 100%/1.4 Georgia,serif;
}
body {background-color: white;
  display: grid;
  grid-template-columns:
  1fr [container-start]repeat(6, minmax(100px, 250px))
  [container-end] 1fr;

}



.title-area {
  margin: 0;
  display: grid;
  grid-column: 1 / 9;
  text-align: center;
  background-color: #c0dfd9;
}
