html {
  margin: 0;
  padding: 0;
  font: normal 100%/1.4 Georgia,serif;
}
body {background-color: #c0dfd9;
  display: grid;
  grid-template-columns:
  1fr [container-start]repeat(6, minmax(100px, 250px))
  [container-end] 1fr;

}


.container {
  display: grid;

}

.title-area {
  grid-column: 1 / 9;
  text-align: center;
}
