---
layout: default
---
<div class="container">
<div class="title-area">
  <a href="/index.html"> <img src="/assets/images/logooo2.png"> </a>
<h1 class="title">{{ page.title }}</h1>
</div>
<div class="sub-title-div">
<h4 class="sub-title">{{ page.date | date_to_string }} - {{ page.author }}</h4>
<li>{% include share-bar.html %}</li></div>

<div class="blog-main">

<body>   {{ content }} </body>
</div>
<div class="blog-sidebar">
  <a href="/index.html"><h2>Home</h2></a><br><br>
<a href="/blog.html"><h2>Archive</h2></a>
</div>
<div class="page-navigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}"><h3>&laquo;{{page.previous.title}}</h3></a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}"><h3>{{page.next.title}} &raquo; </h3></a>
  {% endif %}
</div>
<div class="footer">
<h3>David Broadfoot - employee no. 255928 - 1-(705)-716-5774</h3>
</div>
</div>
